public/index.html
<!DOCTYPE html>
<html lang="en">

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
  <title>Landing Page - Movistar CL</title>
  <link href='assets/img/brand/favicon/apple-touch-icon.png  ' rel='apple-touch-icon' sizes='180x180'>
  <link href='assets/img/brand/favicon/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='assets/img/brand/favicon/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='assets/css/bootstrap.min.css' rel='stylesheet'>
  <link href='assets/css/slick.css' rel='stylesheet'>
  <link href='assets/css/slick-theme.css' rel='stylesheet'>
  <link href='assets/css/font-awesome.min.css' rel='stylesheet'>
  <link href='assets/css/styles.css?36' rel='stylesheet'>

</head>

<body class="d-flex flex-column h-100" data-offset="58" data-spy="scroll" data-target=".navbar" id="js-swipe-zone">
  <header class='header'>
    <nav class='navbar navbar-expand-lg navbar-dark fixed-top header__info' id='navbar'>
      <div class='container container--brand'>
        <a class='navbar-brand header__info--brand' href='#'>
          <img alt='' class='d-inline-block align-top' src='assets/img/movistar.svg'>
        </a>
        <button class='navbar-toggler p-0 border-0 header__info--offcanvas' data-toggle='offcanvas' id='js-btn-burger' type='button'>
          <div class='hamburger hamburger--squeeze' id='squeeze'>
            <div class='hamburger-box'>
              <div class='hamburger-inner'></div>
            </div>
          </div>
        </button>
        <div class='navbar-collapse offcanvas-collapse header__info--items' id='js-menu-offcanvas'>
          <ul class='navbar-nav ml-auto header__info--items-links'>
            <li class='nav-item'>
              <a class='nav-link pl-0 pb-0 pt-0 fixed-link active' href='#home'>
                Home
                <br>
                <p class='mb-0'>Multioferta móvil</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#plataform'>
                Samsung
                <br>
                <p class='mb-0'>Plan + equipo</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#about'>
                iPhone
                <br>
                <p class='mb-0'>Plan + equipo</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#team'>
                Huawei
                <br>
                <p class='mb-0'>Plan + equipo</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#contact'>
                Movistar One
                <br>
                <p class='mb-0'>Plan + equipo</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#contact2'>
                Pago con tarjeta
                <br>
                <p class='mb-0'>Couta sin interés</p>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link pb-0 pt-0' href='#contact3'>
                Móvil
                <br>
                <p class='mb-0'>Planes sin equipo</p>
              </a>
            </li>
          </ul>
          <ul class='navbar-nav header__info--items-call-me d-none d-lg-flex'>
            <li class='nav-item'>
              <a class='nav-link pr-0 pb-0 pt-0' href='tel:+56800760760'>
                Contrata llamando gratis
                <br>
                <p class='mb-0 text-sm-left text-lg-right'>800 760 760</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-shrink-0">
    <section class='slider-main'>
      <div class='slider-main__box'>
        <div class='slider-main__box--items'>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'></div>
          </div>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'></div>
          </div>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'></div>
          </div>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'></div>
          </div>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'></div>
          </div>
          <div class='item'>
            <img class='img-responsive' src='assets/img/slider_main/slider.jpg'>
            <div class='mask-item'>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="mt-5 mb-5"></div>
    <div class="mt-5 mb-5"></div>
    <section class='portability' id='portability'>
      <div class='container container--brand h-100'>
        <div class='row no-gutters'>
          <div class='col-12'>
            <div class='portability__box'></div>
          </div>
        </div>
      </div>
    </section>

    <div class="mt-5 mb-5"></div>
    <section class='pack' id='pack'>
      <div class='container container--brand h-100'>
        <div class='row h-100 align-items-center no-gutters'>
          <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4 mt-md-0 mb-4 mt-md-0 mb-md-0'>
            <div class='pack__box d-flex flex-md-row'>
              <div class='pack__box--icon'>
                <img alt='' class='img-fluid' src='assets/img/brand/icons/house.svg'>
              </div>
              <div class='pack__box--info'>
                <div class='title'>
                  <p class='mb-0'>
                    Todos los servicios
                    <br>
                    para tu Hogar
                  </p>
                </div>
                <div class='description'>
                  <p class='mb-0'>Movistar te ofrece los mejores packs de servicios para tu hogar, aprovéchalos y ahorra en tu factura.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
            <div class='pack__box d-flex flex-md-row'>
              <div class='pack__box--icon'>
                <img alt='' class='img-fluid' src='assets/img/brand/icons/optical-fiber.svg'>
              </div>
              <div class='pack__box--info'>
                <div class='title'>
                  <p class='title mb-0'>
                    Internet
                    <br>
                    Fibra Óptica
                  </p>
                </div>
                <div class='description'>
                  <p class='mb-0'>Movistar llega directo a tu hogar, no se satura en horarios punta y la velocidad no se comparte con tus vecinos, permitiéndote navegar a mayor velocidad que otras tecnologías de Internet.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4 mt-md-0 mb-4 mt-md-0 mb-md-0'>
            <div class='pack__box d-flex flex-md-row'>
              <div class='pack__box--icon'>
                <img alt='' class='img-fluid' src='assets/img/brand/icons/connectivity.svg'>
              </div>
              <div class='pack__box--info'>
                <div class='title'>
                  <p class='mb-0'>
                    Conectividad
                    <br>
                    Total
                  </p>
                </div>
                <div class='description'>
                  <p class='mb-0'>Elige cómo y dónde y navega a toda velocidad en todos tus dispositivos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class='desktopo modalDataFz modal-trigger sendGTM desktopo_pulse' data-id-camaleon='14375' data-movistar-modal='#movistar-callme' data-nombre-landing='Topo UX Derivacion en ww2.movistar.cl/inicio/' data-tipo-producto='F'>
      <div class='desktopo_box'>
        <img alt='Icono teléfono' height='40' src='//ww2.movistar.cl/img/topo/phone.svg' width='40'>
      </div>
      <div class='desktopo_box'>
        <h3 class='desktopo_title'>¿Quieres contratar?</h3>
        <p class='desktopo_text'>Te llamamos ahora</p>
      </div>
    </div>

    <section class='back-to-top'>
      <div class='container'>
        <div class='row'>
          <div class='col-12'>
            <a href='#back-top' id='btn-back-to-top'></a>
          </div>
        </div>
      </div>
    </section>

  </main>
  <footer class='footer mt-auto'>
    <div class='container container--brand h-100'>
      <div class='row no-gutters h-100 align-items-center'>
        <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2 mb-sm-0'>
          <div class='footer__brand-movistar'>
            <a class='stretched-link' href='https://ww2.movistar.cl/'>
              <img alt='' class='img-fluid d-block float-left' src='assets/img/brand/imagotype/imagotype_movistar.svg'>
            </a>
          </div>
        </div>
        <div class='col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6'>
          <div class='footer__brand-telefonica'>
            <a class='stretched-link' href='https://ww2.movistar.cl/'>
              <img alt='' class='img-fluid d-block float-right' src='assets/img/brand/imagotype/imagotype_telefonica.svg'>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src='assets/js/jquery-3.4.1.min.js'></script>
  <script src='assets/js/popper.min.js'></script>
  <script src='assets/js/bootstrap.min.js'></script>
  <script src='assets/js/slick.min.js'></script>
  <script src='assets/js/hammer.min.js'></script>
  <script src='assets/js/settings.js'></script>

</body>

</html>

src/index.haml
!!!
%html{lang: "en"}
  %head
    = Haml::Engine.new(File.read('src/partials/_head.haml')).render 
  %body#js-swipe-zone.d-flex.flex-column.h-100{"data-offset" => "58", "data-spy" => "scroll", "data-target" => ".navbar"}
    = Haml::Engine.new(File.read('src/partials/_header.haml')).render
    %main.flex-shrink-0
      = Haml::Engine.new(File.read('src/partials/_slider-main.haml')).render
      .mt-5.mb-5
      -#= Haml::Engine.new(File.read('src/partials/_home.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_plataform.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_about.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_team.haml')).render
      .mt-5.mb-5
      = Haml::Engine.new(File.read('src/partials/_portability.haml')).render
      .mt-5.mb-5
      -#= Haml::Engine.new(File.read('src/partials/_input.haml')).render
      
      = Haml::Engine.new(File.read('src/partials/_pack.haml')).render
      = Haml::Engine.new(File.read('src/partials/_whatsapp-fixed.haml')).render
      = Haml::Engine.new(File.read('src/partials/_button-to-top.haml')).render
    = Haml::Engine.new(File.read('src/partials/_footer.haml')).render
    = Haml::Engine.new(File.read('src/partials/_scripts.haml')).render
